<template>
  <div class="register">
    <div class="container register-box">
      <p class="title mb-3">สร้างบัญชีผู้ใช้งานใหม่!</p>
      <div class="form-group mb-2 row">
        <select id="province" class="form-control col-11" name="province">
          <option value="" selected disabled> เลือก </option>
          <option value=""> กทม </option>
        </select>
      </div>
      <div class="form-group mb-2 row">
        <input
          id="Fname"
          class="form-control col-11"
          type="text"
          name="Fname"
          placeholder="ชื่อ"
          required
        />
        <font color="red">*</font>
      </div>
      <div class="form-group mb-2 row">
        <input
          id="Lname"
          class="form-control col-11"
          type="text"
          name="Lname"
          placeholder="นามสกุล"
          required
        />
        <font color="red">*</font>
      </div>
      <div class="form-group mb-2 row">
        <input
          id="PID"
          class="form-control col-11"
          type="text"
          name="PID"
          placeholder="เลขบัตรประชาชน"
          required
        />
      </div>
      <br />
      <div class="form-group mb-2 row">
        <input
          id="uname"
          class="form-control col-11"
          required
          type="text"
          name="uname"
          placeholder="ชื่อผู้ใช้งาน"
          value="BKK"
          readonly
        />
      </div>
      <div class="form-group mb-2 row">
        <input
          id="password"
          class="form-control col-11"
          required
          type="password"
          name="password"
          placeholder="รหัสผ่าน"
        />
      </div>
      <div class="form-group row">
        <input
          id="re_password"
          class="form-control col-11"
          required
          type="password"
          name="re_password"
          placeholder="กรอกรหัสผ่านอีกครั้ง"
        />
      </div>
      <nuxt-link to="/login" class="btn btn-primary btn-block">
        ลงทะเบียน!
      </nuxt-link>
    </div>
  </div>
</template>
