
/*
@media only screen and (orientation: landscape) {
    .lend-return{
        width:100%;
        margin-bottom: 0.25rem;
        bottom:0;
    }
    .txt{
        font-size : 55vh;
        text-align: center;
    }
}


@media only screen and (orientation: portrait) {
    .lend-return{
        width:100%;
        margin-bottom: 0.25rem;
        bottom:0;
        position:absolute;
    }
    .txt{
        font-size : 55vw;
        text-align: center;
    }
}

*/