/* login */
.signin {
    background-color: #052963;
    padding: 30px 20px;
    height: 100vh;
}
.signin .signin-box {
    background-color: #fff;
    border-radius: 50px;
    padding: 40px;
}
.signin .signin-box .title {
    color: #5c5d65;
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
}
.signin .signin-box .text{
    color: #acb4bd;
    font-weight: 700;
}
.signin .signin-box .btn-google {
    background-color: #ea4335;
    color: #fff;
}
.signin .signin-box .btn-facebook {
    background-color: #3b5998;
    color: #fff;
}
/*form*/

.form-control {
	font-size: 20px;
}


/* register */
.register {
    background-color: #052963;
    padding: 30px 20px;
}
.register .register-box {
    background-color: #fff;
    border-radius: 50px;
    padding: 40px;
}
.register .register-box .title {
    color: #5c5d65;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
}
.register .register-box .text{
    color: #acb4bd;
    font-weight: 700;
}
.register .register-box .btn-google {
    background-color: #ea4335;
    color: #fff;
}
.register .register-box .btn-facebook {
    background-color: #3b5998;
    color: #fff;
}


/* sidebar */
.sidebar {
    background-color: #f0eff4;
    min-width: 280px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    margin-left: -280px;
}
.sidebar .menu-item {
    background-color: #fff;
    border-radius: 5px;
}
.sidebar .menu-item.item-1 {
    border-left: 3px solid #16c787;
    color: #16c787;
}
.sidebar .menu-item.item-2 {
    border-left: 3px solid #37b9cc;
    color: #37b9cc;
}
.sidebar .menu-item.item-3 {
    border-left: 3px solid #fadd94;
    color: #fadd94;
}
.sidebar .menu-item.item-4 {
    border-left: 3px solid #5a7ce1;
    color: #5a7ce1;
}
.sidebar.active {
    margin-left: 0;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
}
.sidebar.active + .backdrop {
    display: block
}

/* home */
.home .profile-box {
    background-color: #052963;
    height: 80px;
}
.home .profile-box-title {
    background-color: #EEEEEE;
    height: 40px;
}
.home .profile-box .menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 20px;
}
.home .profile-box .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.home .col-custom {
    position: relative;
    background-color: #f8f9fc;
    border: 1px solid #fff;
}
.home .action-iamge {
    font-size: 13px;
    text-align: center;
}
.home .noti {
    font-size: 14px;
    text-align: center;
    background-color: #ffc000;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}


/* teacher-detail */
.teacher-detail .attachment-group {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 12px;
}
.teacher-detail .attachment {
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* booking-detail */
.lend-return .lend {
    color: #ffffff;
    background-color: #f79646;
    border: 2px solid #000;
	font-size: 1.5rem;
}
.lend-return .lend.active {
    color: #ffffff;
    background-color: #f79646;
    border: 2px solid #000;
	font-size: 1.5rem;
}
.lend-return .return.active {
    color: #ffffff;
    background-color: #4e72df;
    border: 2px solid #000;
	font-size: 1.5rem;
}
.remove-book-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    display: block;
    font-size: 11px;
    text-align: center;
    padding: 4px;
}

/* global */
body {
    background-color: #f8f9fc;
	font-size: 1.5rem;
}
.content {
    width: 100%;
}
.top-bar {
    height: 60px;
    width: 100%;
    background-color: #052963;
}
.menu-btn {
    color: #fff;
    /*font-size: 20px;*/
}
.add-box {
    background-color: #052963;
    height: 100px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.table thead {
    background-color: #93cddd;
}




.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    /*font-size: 12px;*/
    line-height: 1.42857;
}


     /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    height: 150px;
    background-color: wheat;
    color:black;
    text-align: left;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    padding: 8px 0;
    padding-left: 20px;
    position: absolute;
    z-index: 3;
    bottom: 125%;
    right: 0%;
    margin-left: -80px;
    top: 100%;
  }
  
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  left: 80%;
  top: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*add box for H question*/
 .add-box-h-quesion {
	 background-color: white;
    border-radius: 50px;
	border-color:black;
text-align: center;
    padding: 10px;
    color: #fff;
	
   
}
  /*pic choice*/
  .button-choice-pic-q {
    border-radius: 20px;
     height: 35%;
	 width: 35%;
    margin: 2% auto;
}
.button-choice-pic {
    border-radius: 20px;
     height: 35%;
	 width: 35%;
    margin: 2% auto;
}
.button-choice-pic .active,.button-choice-pic:hover {
    border: 5px solid #000;
	border-color:red;
	 border-radius: 0px;	
}

/*add class of button choice*/
.button-close-number {
	float: right;
}
.button-start-number {
	font-size: 1.5rem;
	color: black;
	width: 100%;
	text-align:center;
    border-style: solid;
    border-radius: 10px;
	margin-bottom: 35px;
	background-color: #d9d9d9;
}
.button-choice-normal {
	text-align:left;
    border-style: solid;
    border-radius: 10px;
	margin-bottom: 35px;
	background-color: white;
}
.button-choice-normal .active, .button-choice-normal:hover {
    color: #ffffff;
    background-color: black;
    border: 2px solid #000;
}

.button-choice-unknown {
    border-radius: 10px;
    border-color:black;
	margin-bottom: 20px;
	background-color: red;
	color: white;
	float: right;
	font-size: 16px;
}
.button-choice-unknown-other {
    border-color:black;
	background-color: red;
	color: white;
	border: 2px solid #000;
	font-size: 1.5rem;
}

.button-choice-unknown .active, .button-choice-unknown:hover {
    color: #ffffff;
    background-color: black;
    border: 2px solid #000;
}

.input-choice {
	width: 100%;
    border-radius: 10px;
    border-color:black;
	font-size: 30px;
	margin-bottom: 35px;
	margin-top: 0px;
}
.button-choice-array {
    color: black;
	text-align:center;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 35px;
    font-size: 3rem;
    background-color:white;
    border-color:black;
}
.button-choice-array .active, .button-choice-array:hover {
    color: #ffffff;
    background-color: black;
    border: 2px solid #000;
    background-color:black;
    border-color:black;
}

/*number 1 char*/
.num-one {
	font-size: 360px
}
/**********************************App Teacher addition*****************************************/
/*App T question*/
.table-ans-title {
    font-size: 28px;
    align-items: center;
}
.table-ans {
	width: 100%;
}
.table-ans thead {
    background-color: black;
	color: white;	
	border-color:black;
	border-width: 4px;
	border-style: solid;
	font-size: 25px;
}
.table-ans tbody {
	border: 4px solid;
	border-color:black;
}
.table-ans-input {
	padding: 0px 0px 2px 2px;
	width: 100%;
	border-radius: 10px;
    border-color:black;
	font-size: 28px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.table-ans-button {
	font-size: 28px;
	width: 100%;
	border-color:black;
	margin-bottom: 10px;
}
.table-ans-font-form {
	font-size: 21px;
}
.hint{
	color: red; 
	font-size:12;
}
.button-start-pic {
	font-size: 21px;
	color: black;
	text-align:center;
    border-style: solid;
    border-radius: 10px;
	background-color: #FA4040;
}
.container-text {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-scroll {
    height: 55%;
    width: 100%;
    overflow-y: scroll;
  }
    /* Portrait */
@media screen and (orientation:portrait) {
    .footer-1-row {
        position:absolute;
        bottom:0;
        width:100%;
        height:3%;   /* Height of the footer */
        padding-right: 15px;
        padding-left: 15px;
        }
 }
 /* Landscape */
    @media screen and (orientation:landscape) {
        .footer-1-row {
            bottom:0;
            width:100%;
            height:3%;   /* Height of the footer */
            padding-right: 15px;
            padding-left: 15px;
            }
      }
      
/**********************************App Teacher addition*****************************************/
