<template>
  <div class="signin">
    <div class="container signin-box">
      <p class="title">THAI SRS</p>
      <p class="title">Qnaire Children</p>
      <div class="form-group">
        <input
          id="uname"
          class="form-control"
          type="text"
          name="uname"
          placeholder="ชื่อผู้ใช้งาน"
          required
        />
      </div>
      <div class="form-group">
        <input
          id="password"
          class="form-control"
          type="password"
          name="password"
          placeholder="รหัสผ่าน"
          required
        />
      </div>
      <nuxt-link to="/questionnaire_children" class="btn btn-primary btn-block">
        เข้าสู่ระบบ
      </nuxt-link>
      <nuxt-link to="/register" class="text-center text mb-1">
        <p class="text-center text">สร้างบัญชีผู้ใช้งานใหม่!</p>
      </nuxt-link>
    </div>
  </div>
</template>
